@page 
@model SunnySchoolUI.Pages.FormularioBecaModel
@{
    ViewData["Title"] = "FormularioBeca";
}
    <form class="mt-3" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">Solicitud de beca</h1>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del Alumno</label>
                        <input type="text" asp-for="@Model.solicitudM.Nombrealumno" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Curp</label>
                        <input type="text" asp-for="@Model.solicitudM.Curp" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nacionalidad</label>
                        <input type="text" asp-for="@Model.solicitudM.Nacionalidad" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input type="date" asp-for="@Model.solicitudM.FechaNacimiento" class="form-control">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Genero</label>
                        <select class="form-control" asp-for="@Model.solicitudM.Genero">
                            <option value="" disabled="" selected="">Selecciona el sexo</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del Padre o tutor</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.NamePadre">
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="form-group">
                        <label>Fecha De Nacimiento del padre</label>
                        <input type="date" class="form-control" asp-for="@Model.solicitudM.FechaNpadre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nacionalidad</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.NacionalidadPadre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ocupacion</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.OcupacionPadre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ingreso</label>
                        <input type="number" class="form-control" asp-for="@Model.solicitudM.IngresoP">
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del Madre o tutora</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.NameMadre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha De Nacimiento de la madre</label>
                        <input type="date" class="form-control" asp-for="@Model.solicitudM.FechaNmadre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nacionalidad de la madre</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.NacionalidadMadre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ocupacion</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.OcupacionMadre" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ingreso</label>
                        <input type="number" class="form-control" asp-for="@Model.solicitudM.IngresoM">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Municipio</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.Municipio">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Comunidad o Localidad</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.Localidad">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Colonia</label>
                        <input type="text" class="form-control" asp-for="@Model.solicitudM.Colonia">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-info btn-block" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/js/JavaScript.js"></script>
    </form>