@page
@model SunnySchoolUI.Pages.SocioeconomicoModel
@{
    ViewData["Title"] = "Socioeconomico";
}

<h1>Solicitudes</h1>
<form method="post">
    @if (Model.Solicitud.Any())
    {


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.Solicitud.FirstOrDefault().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Solicitud.FirstOrDefault().Nombre)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Solicitud.FirstOrDefault().Agenda)</th>
                    <th scope="col">Seguimiento</th>
                    <th scope="col">Eliminar</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Solicitud)
                {

                    <tr>
                        <td scope="row">@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.Nombre)</td>
                        <td>@Html.DisplayFor(m => item.Agenda)</td>

                        <td>
                            <a asp-page="/DetallesSocioeconomicos" asp-route-ID="@item.Id" class="btn btn-success">Visualizar</a>
                        </td>
                        <td>
                            <button type="submit" asp-page-handler="Delete" asp-route-ID="@item.Id" onclick="return confirm('Estas seguro de querer eliminar el registro?¡')" class="btn btn-danger">Eliminar</button>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <div class="mx-auto text-center">
            <span class="text-danger">No se encontraron solicitudes Socioeconomicas</span>
        </div>
    }
   
    
</form>

